<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>KBH's Portfolio</title>
    <meta content="notranslate" name="naver">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link href="/css/main/main.css" rel="stylesheet">
    <script defer src="/js/main/main.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>

<body oncontextmenu="return false" onselectstart="return false">

<div class="bar1"></div>
<div class="alert alert-info" role="alert" th:if="${msg}">
    <p th:text="${msg}"></p>
</div>
<nav class="navigater">
    <a href="/index.html">
        <div class="logo">

            <span style="--i:1">K</span>
            <span style="--i:2">B</span>
            <span style="--i:3">H</span>
            <span style="--i:4">'</span>
            <span style="--i:5">s</span>
            <span style="--i:6">P</span>
            <span style="--i:7">o</span>
            <span style="--i:8">r</span>
            <span style="--i:9">t</span>
            <span style="--i:10">f</span>
            <span style="--i:11">o</span>
            <span style="--i:12">l</span>
            <span style="--i:13">i</span>
            <span style="--i:14">o</span>

        </div>
    </a>
    <ul class="menu">
        <li><a href="#skill">SKILL's</a></li>
        <li><a href="#comments">COMMENT's</a></li>
        <li><a href="#project">PROJECT</a></li>
        <li><a href="#etc">ETC</a></li>
        <li th:if="${session.loginUser}">
            <span style="color:white" th:text="${session.loginUser.name+'님'}"></span>
            <a href="/user/logout">out</a>
            <!-- 필요한 다른 사용자 정보를 표시할 수 있습니다. -->
        </li>
    </ul>


    <ul class="icons">
        <!--    <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>-->
        <li><a class="toggleBtn"><i class="fas fa-align-right"></i></a></li>
    </ul>
</nav>

<div class="video-container">
    <video autoplay loop muted>
        <source src="/img/main.mp4" type="video/mp4">
    </video>
    <div class="text-container">
        <a href="/profile">
            <p>ABOUT ME</p>
        </a>
    </div>
</div>


<div class="section skills" id="skill">
    <i></i>
    <h1>SKILL'S</h1>
    <div><span class="front">Frontend</span><img alt="" src="/img/frontend.png"></div>
    <div class="sub_skill"><span>Tool , V.c</span><img alt="" src="/img/version-control.png"></div>
    <div><span>Backend</span><img alt="" src="/img/backend.png"></div>
    <!--  <div><img src="/img/frontend.png" alt=""></div>-->

</div>

<div class="section comments" id="comments" th:include="main/comments :: commentsFragment"></div>

<div class="bg2" id="project">
    <h1>PROJECT</h1>
    <div class="project" id="project1">
        <div class="title">가보자고PLAN</div>
        <div class="sub_title">2023.05(팀 프로젝트)</div>
        <div class="content">
            <div class="image_box">
                <div class="slider-container">
                    <div class="swiper-container slider" id="swiper-container-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img alt="Image 1" onclick="openModal(this)"
                                     src="/img/project/gabojago/gabojago_main.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 2" onclick="openModal(this)" src="/img/project/gabojago/가보자고메인.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 3" onclick="openModal(this)" src="/img/project/gabojago/가보자고.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 4" onclick="openModal(this)" src="/img/project/gabojago/같이가자메인.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 5" onclick="openModal(this)" src="/img/project/gabojago/같이가자.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 6" onclick="openModal(this)" src="/img/project/gabojago/같이놀자메인.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 7" onclick="openModal(this)" src="/img/project/gabojago/같이놀자.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 8" onclick="openModal(this)" src="/img/project/gabojago/상품판매메인.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 9" onclick="openModal(this)" src="/img/project/gabojago/상품판매결제.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 10" onclick="openModal(this)" src="/img/project/gabojago/마이페이지.JPG">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination" id="swiper-pagination-1"></div>

                </div>
                <!--                <div class="slider-button">-->
                <!--                    <i class="fas fa-chevron-left prev"></i>-->
                <!--                    <span class="currentPage">1</span>/<span class="totalPages">5</span>-->
                <!--                    <i class="fas fa-chevron-right next"></i>-->
                <!--                </div>-->

            </div>
            <div class="content_box">
                <div>
                    <h4>하나뿐인 나만의 국내여행 플래너</h4><br>

                    코로나 19 완화로 계속 증가하는 국내여행 수요!
                    친구와 여행날짜를 잡았지만,일정을 기획하려니 시간이 가만두질 않습니다.
                    그냥 일정을 잡자니 뭔가 심심하고 시간맞춰 일정짜기도 힘든 현실입니다.
                    그래서 만든 서비스 가보자고.<br><br>

                    원거리의 사람들과 실시간으로 채팅 및 여행일정 계획 가능!<br>

                    나만의 일정을 꾸며 공유함으로써 '다꾸','폰꾸'를 이은 차세대 꾸미기 활동제공<br>

                    일정수립을 위한 정보제공 및 상품판매로 더욱더 편한 일정 수립가능!<br>

                    국내여행 정보제공을 통한 국내여행의 수요를 늘리고 상업적 광고효과 증대<br>

                    <div class="show"></div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>주요기능</div>
                    <div class="sub_title">실시간 채팅으로 여행 짜기,유명 명소 티켓 구매,지역별 여행 추천 정보,마일리지 이벤트,맘에드는 게시글 유저 팔로잉,팔로워</div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>GitHub</div>
                    <div class="sub_title"><a href="https://github.com/gusnl88/GabojagoUser" style="color:blue"
                                              target="_blank">github.com/gusnl88/GabojagoUser</a></div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>Front-end</div>
                    <div class="sub_title">HTML5|CSS3|javaScript|Bootstrap|Summernote|ThymeLeaf</div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>Back-end</div>
                    <div class="sub_title">SpringBoot|MySQL|JAVA|MyBatis|Ajax|Websocket|Gradle</div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>협업 및 개발툴</div>
                    <div class="sub_title">IntelliJ|Git|FIGMA|diagrams.net|ERD</div>
                </div>
            </div>
        </div>
    </div>
    <div class="project" id="project2">
        <div class="title">포트폴리오 웹사이트</div>
        <div class="sub_title">2023부터~(개인 프로젝트)</div>
        <div class="content">
            <div class="image_box">
                <div class="slider-container">
                    <div class="swiper-container slider" id="swiper-container-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img alt="Image 1" onclick="openModal(this)" src="/img/project/portfolio/초기페이지.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 2" onclick="openModal(this)" src="/img/project/portfolio/home.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 3" onclick="openModal(this)" src="/img/project/portfolio/스킬.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 4" onclick="openModal(this)" src="/img/project/portfolio/자기소개.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 5" onclick="openModal(this)" src="/img/project/portfolio/프로젝트.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 6" onclick="openModal(this)" src="/img/project/portfolio/etc.JPG">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination" id="swiper-pagination-2"></div>
                </div>


                <!--                <div class="slider-button">-->
                <!--                    <i class="fas fa-chevron-left prev"></i>-->
                <!--                    <span class="currentPage">1</span>/<span class="totalPages">5</span>-->
                <!--                    <i class="fas fa-chevron-right next"></i>-->
                <!--                </div>-->

            </div>
            <div class="content_box">
                <div>
                    <h4>부족하지만 꾸준히 업데이트 중인 웹사이트</h4><br>

                    포트폴리오 용도로 제작한 웹사이트입니다. 현재 보고 있는 바로 이 웹사이트에 해당합니다.<br><br>

                    저의 포트폴리오는 개인 웹 프로젝트로, HTML, CSS 및 JavaScript 배우기 시작한 교육과정에서부터
                    개발하여 지금까지 꾸준히 유지보수하고 있는 웹사이트입니다. 현재, 이 웹사이트는 클라우드 환경에서 호스팅되며,
                    백엔드 기술로는 스프링 부트, 그레들, MyBatis, MySQL을 사용하고 있습니다.<br><br>

                    이 웹사이트는 프론트엔드 기술 부분에 대한 학습이 아직 충분하지 않아 앞으로도 프론트엔드 기술을 배우고
                    발전시키는 중입니다. 제 목표는 더 나은 사용자 경험을 제공하고, 웹사이트의 디자인과 기능을 개선하여 사용자들에게
                    가치를 제공하는 것입니다. 끊임없이 새로운 기술과 아이디어를 습득하여 프로젝트를 발전시키고, 웹 개발 분야에서
                    더 나은 결과물을 만들어내기 위해 노력하고 있습니다.

                    <div class="show"></div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>주요기능</div>
                    <div class="sub_title">자기소개, 인적 사항, 기술 스택, GitHub, 업무 경력, 프로젝트 경험</div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>GitHub</div>
                    <div class="sub_title"><a href="https://github.com/gusnl88/board_project" style="color:blue"
                                              target="_blank">github.com/gusnl88/board_project</a></div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>URL</div>
                    <div class="sub_title"><a href="https://develkbh.kro.kr/" style="color:blue"
                                              target="_blank">develkbh.kro.kr</a></div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>Front-end</div>
                    <div class="sub_title">HTML5|CSS3|javaScript|Bootstrap|ThymeLeaf</div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>Back-end</div>
                    <div class="sub_title">SpringBoot|MySQL|JAVA|MyBatis|Ajax|Gradle</div>
                </div>
            </div>
        </div>
    </div>
    <div class="project" id="project3">
        <div class="title">개인학습용 페이지</div>
        <div class="sub_title">2023.10 (개인 학습용)</div>
        <div class="content">
            <div class="image_box">
                <div class="slider-container">
                    <div class="swiper-container slider" id="swiper-container-3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img alt="Image 1" onclick="openModal(this)" src="/img/project/spring_vue/초기페이지.png">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 2" onclick="openModal(this)" src="/img/project/spring_vue/목록.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 3" onclick="openModal(this)" src="/img/project/spring_vue/등록.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 4" onclick="openModal(this)" src="/img/project/spring_vue/정보.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 5" onclick="openModal(this)" src="/img/project/spring_vue/삭제대기.JPG">
                            </div>
                            <div class="swiper-slide">
                                <img alt="Image 6" onclick="openModal(this)" src="/img/project/spring_vue/설정및구조.png">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination" id="swiper-pagination-3"></div>

                </div>
                <!--                <div class="slider-button">-->
                <!--                    <i class="fas fa-chevron-left prev"></i>-->
                <!--                    <span class="currentPage">1</span>/<span class="totalPages">5</span>-->
                <!--                    <i class="fas fa-chevron-right next"></i>-->
                <!--                </div>-->

            </div>
            <div class="content_box">
                <div>
                    <h4>SpringBoot+Vue.js 학습용 CRUD</h4><br>

                    스프링 과 Vue.js 를 이용한 사용자 CRUD와 세션저장과 암호화<br><br>

                    Vue.js는 사용자 인터페이스(UI)를 만들기 위한 강력한 도구입니다. 저는 Vue.js를 사용하여 사용자 목록을 표시하고,
                    새로운 사용자를 추가하며, 사용자 정보를 편집하고 삭제할 수 있는 화면을 만들었습니다.
                    각각의 작업을 Vue 컴포넌트로 나누어 구현하였고, 데이터는 사용자 경험을 향상시키기 위해 동적으로 업데이트되었습니다.<br><br>

                    <span class="content_title">데이터 통신: Axios의 역할</span><br><br>

                    서버와의 통신은 모던 웹 애플리케이션의 핵심입니다. Axios를 사용하여 HTTP 요청을 수행하면 서버와 데이터를 주고받을 수 있습니다.
                    이를 통해 사용자 데이터를 백엔드 서버와 동기화하고, 비동기 요청을 효과적으로 처리했습니다.
                    데이터는 애플리케이션과 서버 간에 원활하게 오고갔고, 사용자는 실시간으로 업데이트된 데이터를 볼 수 있었습니다.<br><br>

                    <span class="content_title">상태 관리: Vuex의 힘</span><br><br>

                    Vuex는 상태 관리 라이브러리로, 상태를 중앙에서 효과적으로 관리할 수 있게 도와줍니다. $store.commit을 사용하여 상태를 변경하고,
                    여러 컴포넌트 간에 데이터를 공유했습니다.
                    이를 통해 데이터의 일관성을 유지하고, 복잡한 애플리케이션에서도 데이터 관리를 단순하게 유지할 수 있었습니다.<br><br>

                    <span class="content_title">데이터 보안: 암호화의 필요성</span><br><br>

                    데이터의 보안은 항상 중요한 문제입니다. 사용자 데이터를 더 안전하게 저장하려고 window.btoa를 사용하여 데이터를 Base64로 인코딩했습니다.
                    이렇게 하면 데이터가 전송 중에 노출되더라도 더 안전하게 보호됩니다.
                    또한, 서버와의 통신에서 HTTPS를 사용하여 데이터를 암호화하여 더 높은 수준의 보안을 제공했습니다.<br><br>

                    <div class="show"></div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>주요기능</div>
                    <div class="sub_title">사용자 목록,등록,수정,삭제대기,대기인삭제 db삭제</div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>GitHub</div>
                    <div class="sub_title"><a href="https://github.com/gusnl88/spring_vue" style="color:blue"
                                              target="_blank">github.com/gusnl88/spring_vue</a></div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>Front-end</div>
                    <div class="sub_title">Vue.js|Axios|Vuex|Vue Router|HTML/CSS/JavaScript</div>
                </div>
                <div class="description">
                    <div class="title"><i class="fas fa-check"></i>Back-end</div>
                    <div class="sub_title">Spring Boot|MySQL|RESTful API</div>
                </div>
            </div>
        </div>
    </div>
    <div class="project"></div>
    <div class="project"></div>
    <div class="project"></div>
</div>

<div class="spacer" id="etc">
    <div class="scroll-to-top" id="scrollToTop">
        <i class="fas fa-arrow-up"></i>
    </div>
    <div class="etc-icons">
        <div>
            <a href="https://instagram.com/kbh_shin?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">
                <img alt="" src="/img/project/etc/인스타그램.png">
            </a>
        </div>
        <div>
            <a href="https://github.com/gusnl88" target="_blank">
                <img alt="" src="/img/project/etc/깃허브.png">
            </a>
        </div>
        <div>
            <a href="https://www.facebook.com/profile.php?id=100003262526973&mibextid=2JQ9oc" target="_blank">
                <img alt="" src="/img/project/etc/페이스북.png">
            </a>
        </div>
    </div>
    <div class="etc-">© 2023. Kim Bong Hyun. Prohibition of unauthorized use.</div>
</div>
<div class="modal" id="myModal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage" src="">
</div>

</body>

</html>