<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KBH's Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/profile/profile.css">
    <script src="/js/profile/profile.js" defer></script>
    <script src="/js/star/star.js" ></script>
    <link href="/css/star/star.css" rel="stylesheet">

</head>
<body style="overflow: auto;" oncontextmenu="return false" onselectstart="return false">

    <nav class="home"><a style="text-decoration: none;" href="main"><h1>Home</h1></a></nav>

<div class="box"><h1>"안녕하세요,백엔드 개발자를 꿈꾸고 있는 주니어개발자 입니다."</h1></div>
<div class="box"><h1>개발자를 목표로 지내온 하루하루가 쌓여 결국에는 그 꿈에 도달할 것이라 믿습니다.
아직 많이 부족하고, 더 노력해야 겠지만 최선을 다해 목표를 이루도록 하겠습니다.</h1></div>
<div class="box"><h1>저는 현재 SeSAC 도봉캠퍼스 1기 교육 과정을 듣고 있습니다. 부족한 부분을 보완하고 새로운 기술을 학습중에 있습니다.</h1></div>
<div class="box"><h1>저는 이런것을 다룰줄 압니다.</h1>
<ul >
    <li><u><strong style="color: antiquewhite">Languages-</strong></u> Java,Javascript,Node.JS,Express, JSP, JavaScript(jQuery), HTML, CSS,vue.js,react</li>
    <li><u><strong style="color: antiquewhite">OS-</strong></u> Windows</li>
    <li><u><strong style="color: antiquewhite">DataBase-</strong></u> MySQL,MSSQL,MariaDB</li>
    <li><u><strong style="color: antiquewhite">FrameWork-</strong></u> Spring, MyBatis,JSTL</li>
    <li><u><strong style="color: antiquewhite">Tools-</strong></u> IntelliJ,Eclipse, Visual Studio Code</li>
</ul>
</div>
<div class="box"><h1>저는 이런 것을 배웠습니다. </h1>
    <ul>
        <li><u><strong style="color: antiquewhite">에이콘아카데미(홍대)-</strong></u>스마트 웹&앱을 활용한 iot통합 솔루션 개발자 과정</li>
        <li><u><strong style="color: antiquewhite">SeSAC 도봉캠퍼스 1기(창동)-</strong></u>풀스텍 WEB개발자 취업 부트캠프</li>
    </ul>
</div>

    <div class="box"></div>
<!--<section>-->
<!--    <div class="cover">-->
<!--        <p class="first-parallel"></p>-->
<!--    </div>-->
<!--    <div class="cover">-->
<!--        <p class="second-parallel"></p>-->
<!--    </div>-->
<!--</section>-->
    <div class="box"></div>


<script>
</script>

</script>
</body>
</html>