/* @import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap"); */
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* { margin: 0; padding: 0; }
html{ scroll-behavior: smooth; }
body {font-family: 'ONE-Mobile-POP', sans-serif; }
/* body { font-family: "Signika Negative", sans-serif; letter-spacing: 0.04em; } */
.section { height: 115vh; width: 100%; position: relative; display: flex; justify-content: center; align-items: center; }
.bg2 { background-color: #333; }
.bg2 h1{ color:white;margin: 100px; }
.skills { background-color: #ccc; }
.skills h1{top:0;position:absolute}
.skills div {background-color:white;display: flex;flex-direction: column;padding: 20px;border-radius: 0.5rem;margin: 4rem;height: 80%;text-align: center;box-shadow: 1rem 1rem 1rem 0 black;transition: transform 1s;}
.skills div:hover {transform: translateY(-10px);}
.skills img {max-height: 80%;}
.skills span {font-weight:bold;margin-bottom: 40px;font-size:25px;border-bottom: 2px solid gray;}
h1 {border-bottom-width: 5px;border-bottom-style: solid;font-weight: 400;font-size: 3rem;line-height: 1.5;}
.navigater { width: 100%; display: flex; justify-content: space-between; position: fixed; z-index: 1;transition: background-color 0.5s ease;background-color: transparent;}
.navigater a{text-decoration:none;cursor:pointer;font-weight: bold;}
a { text-decoration: none; color: white; }
a:hover { color: black; text-decoration:none}
ul { display: flex; }
li { list-style: none; margin: 20px 50px; padding-top: 10px; }
.pagination li {margin: 0 ; /* 각 페이지 아이템 간의 좌우 간격 조절 */}
.logo{margin-top: 15px;margin-left: 30px; cursor: pointer; }
.logo span { position: relative; display: inline-block; font-size: 40px; color: #fff; text-transform: uppercase; animation: flip 2s infinite; animation-delay: calc(.2s * var(--i)) }

.comments{height: 100%;}
.note {width:90%;height: 100%; background:white;margin: 10vh;}

.loginBtn{margin: 10px;}

@keyframes flip { 0%, 80% { transform: rotateY(360deg) } }
.icons { display: none; }
.signupButton{text-align:end;}
/* 여기까지 navbar */
/* 여기까지 main */
/* 여기까지 footer */
/*project 컨텐츠*/
.project {width:80%; height:100%;background-color:white;margin:30px;border-radius: 0.5rem;padding: 3rem;box-shadow: 1rem 1rem 1rem 0 black;display: flex;;flex-direction: column;align-items: center;}
.project .title{padding-bottom: 0.5rem;font-weight: 400;font-size: 2.5rem;color: #222;text-align: center;}
.project .sub_title{margin-bottom: 2rem;font-weight: 400;font-size: 1rem;color: #6c757d;text-align: center;opacity: .8;}
.project .content {display: flex;justify-content: space-between;}
.project .content .image_box{margin-right: 3rem;}
.project .content .image_box img{display: block;width: 100%;height: 100%;}

.project .content .content_box .show{padding-bottom: 1rem;margin-bottom: 1rem;border-bottom: 1px solid #ccc;font-weight: 400;font-size: 1rem;}
.project .content .content_box .description{margin-bottom: -1.5rem;}

.project .content .content_box .description .title{display: inline-block;vertical-align: top;font-weight: 900;font-size: 1rem;}
.project .content .content_box .description .sub_title{ white-space: pre-line;text-align:start;word-wrap: break-word;vertical-align: bottom;font-weight: 400;font-size: 1rem;}
.project .content .content_box .content_title{font-weight: bold;font-size: 20px;}

.bg2 {display: flex; flex-direction: column;align-items: center;justify-content: center;}

/*메인화면 상단 비디오*/
.video-container {display: flex;height: 100vh; /* 화면 높이에 맞게 설정 */background-color: #17CE94;position: relative; /* 부모 위치 지정 */}
video {width: 100%;}
.text-container {position: absolute;top: 90%;right: 0;transform: translateY(-50%);padding: 20px;font-size:4vh;}
.text-container p{border-bottom-width: 5px;border-bottom-style: solid;}

/*이미지 슬라이드 */
.slider-container{width: 390.58px;overflow: hidden;position: relative;}
.slider-container .slider{width: 100%;height:500px;display: flex;transition: transform 0.5s ease-in-out;}
.image_box .slider-button{text-align: center;margin: 30px;}
.slider-button i:hover {cursor: pointer;}
.swiper-wrapper{z-index:0;}
.swiper-pagination{z-index:0;}


/*etc footer*/
.etc-icons img{width:3rem;height:3rem;}
.spacer { height: 30vh; background-color: #000; position: relative; display: black;text-align: center; color: white;padding-top: 5rem; }
.spacer .etc-icons{margin-bottom: 1rem;}
.spacer .etc-icons div{display: inline-block;margin: 0 0.5rem}

/*우측하단 버튼 css*/
.scroll-to-top {display: none;position: fixed;bottom: 20px;right: 20px;background-color: gray;
width: 40px;border-radius: 50%;cursor: pointer;font-size: 24px;line-height: 40px;opacity: .5;}
.scroll-to-top:hover {background-color: lightslategrey;}

    /* 프로젝트 모달창 css */
.modal {display: none;position: fixed;z-index: 1;padding-top: 50px;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgba(0, 0, 0, 0.7);transition: opacity 0.4s;}
.modal .modal-content {margin: auto;display: block;width: 90%;height: 90%;}
.modal .close {position: absolute;top: 10px;right: 25px;color: #f1f1f1;font-size: 40px;font-weight: bold;cursor: pointer;}
.slider img:hover {cursor: pointer;}


/********************반응형 웹페이지 사이즈*************** */
@media screen and (max-width:768px) { html{ scroll-behavior: smooth; }
.project{display:block;width:90%;box-shadow: 0.5rem 0.5rem 0.5rem black;}
.project .title {font-size:2rem;font-weight:bold;}
.project .content .image_box {margin-right:0;}
.project .content {display:block;}
.project .content .image_box img{display: block;width: 100%;height: 100%;}
.project .content .content_box div:first-child {margin-top:1rem;}
.project .content .content_box .description .sub_title{display: block;text-align:start;}


/*이미지 슬라이드*/
.slider-container{    width: 100%;}
.skills{display:block;height:auto;padding:10px;}
.skills div{box-shadow: 0.5rem 0.5rem 0.5rem 0 black;margin: 2rem auto;width:300px}
.skills h1{position:relative;margin:5vh auto;padding:5px;text-align:center;border-bottom-width: 5px;border-bottom-style: solid;width: 50%;}
.logo { position: relative; margin-left: 10px; margin-top: 13px; }
.logo span{ font-size: 20px; }
.menu li { position: relative; margin: 6px; }
.menu { position: relative; justify-content: center; display: none; }
.icons li { margin: 0; font-size: 20px; }
.menu.active { margin-bottom: -10px; font-size: 14px; display: flex; }
.logo.active { display: none; }
.icons { margin-right: 20px; display: block; }

/* 여기까지 navbar */ }
/* 여기까지 main */