@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
* { margin: 0; padding: 0; }
html{ scroll-behavior: smooth; }
body { font-family: "Signika Negative", sans-serif; letter-spacing: 0.04em; }
.section { height: 115vh; width: 100%; position: relative; display: flex; justify-content: center; align-items: center; }
.bg1 { background-color:gray;height:100px }
.bg1 a{ text-decoration:none; }
.bg2 { background-color: #333; }
.bg2 h1{ color:white; }
.skills { background-color: #ccc; }
.skills h1{top:0;position:absolute}
.skills div {background-color:white;display: flex;flex-direction: column;align-items: center;justify-content: center;padding: 20px;border-radius: 1rem;margin: 2rem;height: 500px;text-align: center;box-shadow: 1rem 1rem 1rem 0 black;font-size:20px;position: relative;transition: transform 1s;}
.skills div:hover {transform: translateY(-10px);}
.skills .sub_skill {height: 300px;}
.skills img {max-height: 100%;}
.skills span {margin: 0;border-bottom: 2px solid gray;}

h1 {border-bottom-width: 5px;border-bottom-style: solid;font-weight: 400;font-size: 3rem;line-height: 1.5;}
.spacer { height: 50vh; background-color: #000; position: relative; display: flex; justify-content: center; align-items: center; color: white; }
.navigater { width: 100%; display: flex; justify-content: space-between; background-color: gray; position: fixed; z-index: 1; }
.navigater a{text-decoration:none;cursor:pointer;}
a { text-decoration: none; color: white; }
a:hover { color: orange; }
ul { display: flex; }
li { list-style: none; margin: 20px 50px; padding-top: 10px; }
.pagination li {margin: 0 ; /* 각 페이지 아이템 간의 좌우 간격 조절 */}
.logo{ margin:10px 50px; cursor: pointer; }
.logo span { position: relative; display: inline-block; font-size: 40px; color: #fff; text-transform: uppercase; animation: flip 2s infinite; animation-delay: calc(.2s * var(--i)) }

.note {margin-top:40px;width:90%;height:85%;background:white;}
.no-style{}
@keyframes flip { 0%, 80% { transform: rotateY(360deg) } }
.icons { display: none; }
/* 여기까지 navbar */
/* 여기까지 main */
/* 여기까지 footer */
/*project 컨텐츠*/
.project {width:1200px; height:100%;background-color:white;margin:10px;border-radius: 1rem;padding: 3rem;box-shadow: 1rem 1rem 1rem 0 black;display: flex;;flex-direction: column;align-items: center;}
.project .title{padding-bottom: 0.5rem;font-weight: 400;font-size: 2.5rem;color: #222;text-align: center;}
.project .sub_title{margin-bottom: 2rem;font-weight: 400;font-size: 1rem;color: #6c757d;text-align: center;opacity: .8;}
.project .content {display: flex;justify-content: space-between;}
.project .content .image_box{margin-right: 3rem;}
.project .content .image_box img{display: block;width: 100%;height: auto;}

.project .content .content_box .show{padding-bottom: 1rem;margin-bottom: 1rem;border-bottom: 1px solid #ccc;font-weight: 400;font-size: 1rem;}
.project .content .content_box .description{margin-bottom: -1.5rem;}

.project .content .content_box .description .title{display: inline-block;vertical-align: top;font-weight: 900;font-size: 1rem;}
.project .content .content_box .description .sub_title{ white-space: pre-line;text-align:start;word-wrap: break-word;vertical-align: bottom;font-weight: 400;font-size: 1rem;}

.bg2 {display: flex; flex-direction: column;align-items: center;justify-content: center;}


/*이미지 슬라이드 */
.slider-container{overflow: hidden;position: relative;}
.slider-container .slider{width: 100%;display: flex;transition: transform 0.5s ease-in-out;}
.image_box .slider-button{text-align: center;margin: 10px;}


@media screen and (max-width:768px) { html{ scroll-behavior: smooth; }
.project{display:block;width:90%;box-shadow: 0.5rem 0.5rem 0.5rem black;}
.project .title {font-size:2rem;font-weight:bold;}
.project .content .image_box {margin-right:0;}
.project .content {display:block;}
.project .content .image_box img{display: block;width: 100%;height: auto;}
.project .content .content_box div:first-child {margin-top:1rem;}
.project .content .content_box .description .sub_title{display: block;text-align:start;}

.skills{display:block;height:auto;padding:10px;}
.skills div{align-items:normal;box-shadow: 0.5rem 0.5rem 0.5rem 0 black;margin: 2rem auto;width:300px}
.skills h1{position:relative;margin:auto;padding:5px;text-align:center;border-bottom-width: 5px;border-bottom-style: solid;width: 50%;}
.logo { position: relative; margin-left: 10px; margin-top: 10px; }
.logo span{ font-size: 20px; }
.menu li { position: relative; margin: 20px; }
.menu { position: relative; justify-content: center; display: none; }
.icons li { margin: 0; font-size: 20px; }
.menu.active {padding:0; margin-top: -15px; margin-bottom: -10px; font-size: 15px; display: flex; }
.logo.active { display: none; }
.icons { margin-right: 30px; display: block; }
/* 여기까지 navbar */ }
/* 여기까지 main */